@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-nosotros {
    @include m.tablet { 
        @include m.grid(2, 2rem);
    }

    .imagen {
        margin-bottom: 5rem;

        @include m.tablet { 
            margin: 0 2rem 0 0;
        }

        img {
            transform: rotate(-6deg);
            border: 3rem solid v.$blanco;
            box-shadow: 9px 10px 5px -7px rgb( 0 0 0 / .35);
        }
    }

    .texto {

        blockquote {
            margin: 0;
            padding: 1rem;
            border-left: .5rem solid v.$primario;
            font-size: 2rem;
        }
    }
}

.vision{
    margin-top: 50px;
    h2{
        &::after {
            margin-bottom: 0px;
            display: block;
            width: 10rem;
            height: 10rem;
            margin: 0 auto;
            background-image: url(../img/vision.png);
            background-size: 10rem;
        }
    }
    img{
        margin-top: 24px;
    }
}